#right-flyout-menu {
  width: 16vw;
  height: 100vh;
  background-color: #565673;
  color: aliceblue;
  font-size: 12px;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 10000;
}

#right-flyout-menu.hide {
  transform: translate3d(+100vw, 0, 0);
}

#right-flyout-menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#rhm-all-layers {
  margin-top: 1rem;
}

#rhm-all-layers > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: aliceblue;
}

#rhm-all-layers > div:hover {
  background-color: brown;
}

#rhm-all-layers > div > input {
  margin-right: 0.2rem;
}
#rhm-all-layers > div > span {
  padding: 10px 0px;
  margin: 0 0.6rem 0 0.2rem;
}
